---
layout: page.njk
---

<img class="page-image" src="/images/ycp.jpeg" alt="Ms. Mieke sitting on the ground holding with children gathered around her looking at the book she is holding in the classroom.">

<h1>Working together for our children's education</h1>
  
<p style="font-size: 1.25rem;">The Ypsilanti Cooperative Preschool (YCP) has been offering a quality preschool program that involves family since 1946. Each student recieves a montessori inspired environment that balances play and structured time and supports individual growth and development.</p>

<h2>What is a Cooperative Preschool?</h2>
  
<p>It means that we are a non-profit organization that is administered and maintained by the parents of current students. Parents assist our professional teacher, Ms. Mieke, in the classroom on a rotating basis and participate in the educational program of all the children. Parents, children, and teacher all learn together.</p>

<p>Parents are required to:</p>

<ul>
  <li>Assist in the classroom about 1-2 times a month and bring a snack on their assist day.</li>
  <li>Attend two cleaning bees or choose an opt-out option.</li>
  <li>Participate in the fall and spring fundraiser.</li>
  <li>Take on one year-long school job. Attend one mandatory membership meeting per semester.</li>
</ul>
  
<aside>
  <section>
    <h2>Our teacher</h2>
    <p>Mieke Dahlem has been teaching at the Ypsilanti Cooperative Preschool since 2005.</p>
    <a href="/our-teacher">Meet our teacher Mieke Dahlem</a>
  </section>

  <section>
    <h2>Tuition</h2>
    <p>Understand how much tuition costs and make a payment for your student.</p>
    <a href="/tuition">Understand tuition</a>
  </section>
</aside>
